*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}   

#contador{
    text-align: center;
    font-size: 18px;
    background-color: #06bef6f6;
}



.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 10px solid #08ec00;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#06bef6f6,#fffffffe);
    transition: background-image 0.5s ease-in-out;
}

.game-board.transicao-background {
    /* Define a transição apenas quando a classe transicao-background estiver presente */
    background-image: url("over.jpg");

  }
  






.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
   
}

.veloz{
animation: pipe-animation 0.5s infinite linear;
}


.jump{
    animation: mario-animation 500ms ease-out;

}

.pipe{
position: absolute;
bottom: 0;
width: 80px;
animation: pipe-animation 2s infinite linear;
}

.clouds{
    width: 500px;
    position: absolute;
    animation: nuvem-animation 10s infinite linear;
}

@keyframes nuvem-animation{
    from{
        right: -80px;
        }to{
        right: 100%;
        
        }
        
}



@keyframes mario-animation {

    0%{
        bottom: 0;
    }40% {
        bottom:180px;
    }
    50%{
        bottom: 180px;
    }60%{
        bottom: 180px;
    }100%{
        bottom: 0;
    }
}



@keyframes pipe-animation {

from{
right: -80px;
}to{
right: 100%;

}

    
}

/* Velocidade normal (2 segundos) */
.pipe.velocidade-normal {
    animation-duration: 2s;
    right: -85px;
  }
  
  /* Velocidade rápida (1 segundo) */
  .pipe.velocidade-rapida {
    animation-duration: 1s;
    right: -85px;
  }


.centroBotao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


  #botao,
#botao2 {
    width: 50px;
    height: 50px;
    padding: 0; /* Remova o padding para evitar distorções */
    border-radius: 30%; /* Use 50% para um círculo perfeito */
    display: inline-block; /* Coloca os botões em linha */
    text-align: center;
    margin-right: 10px; /* Ajuste conforme necessário para espaçamento entre os botões */
    color: #fafafafe;
    font-family: Arial, Helvetica, sans-serif;
    

    }

#botao {
    background-color: #fd0707fe;
    border: 10px solid rgb(rgb(4, 0, 255), rgb(255, 0, 0), rgb(30, 255, 0));
}

#botao2 {
    background-color: #0720fdfe;
    border: 10px solid rgb(rgb(4, 0, 255), rgb(255, 0, 0), rgb(30, 255, 0));
}
